<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rent.sdacourseapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PROGRAMY"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".drawing.DrawingActivity"></activity>
        <activity android:name=".game.GameActivity"></activity>
        <activity android:name=".flaga.FlagaActivity"></activity>
        <activity android:name=".gallery.GalleryActivity"
            android:label="GALERIA"></activity>
        <activity android:name=".todo.ToDoListActivity"
            android:label="LISTA ZAKUPÓW">
        </activity>

    </application>

</manifest>